{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
				<div class="column">
					<div class="centered">
	  				<form action="{{ path('user_search') }}" method="get">
	  				<div class="input-group">
	  					<input type="text" name="query" value="{{ app.request.get('query') }}" placeholder="Cari teman" id="search_keywords" class="form-control"/>
	  						<span class="input-group-btn">
	  							<button class="btn btn-default" type="submit"><li class="glyphicon glyphicon-search"></li></button>
	  						</span>
	  				</div>
	  				</form>
	  			</div>
					<hr/>
				{% for entity in entities %}
						{% if loop.index%2 == 1 %}
							<div class="row">
						{% endif %}
								<div class="col-md-6 col-xs-6">
									<div class="panel panel-success">
										<a href="{{ path('profile_see', {'token': entity.token }) }}">
											<div class="text-center"><img src="{{ asset('web/uploads/users/grande_') }}{{ entity.foto }}" alt="{{ entity.profile.name }}" data-toggle="tooltip" data-placement="top"/ title="Lihat Profile"></div>
										</a>
										<div class="name-center">
											<p>
												{{ entity.profile.name }}
												{% if entity.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
											</p>
										</div>
										<div class="text-center">
											<a class="label label-primary" data-toggle="tooltip" data-placement="top" title="Kenal sama Dia?" href="{{ path('friend_create', {'token' : entity.token}) }}"> kenalan</a>
										</div>
									</div>
								</div>
						{% if (loop.index%2 == 0) or (loop.index == cp) %}
							</div>
						{% endif %}

					{% endfor %}
					<div class="text-center">
							{% if c > 16 %}
								{{ knp_pagination_render(entities) }}</b>
							{% endif %}
					</div>

				</div>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
