{% extends 'LcLcBundle:Default:layout.html.twig' %}
	{% block menu %}
    {{ include ('LcLcBundle:Default:menu.thank.html.twig') }}
	{% endblock %}

	{% block content %}
    <!-- About Section -->
    <section id="daftar" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Daftar temenbekpeker</h2>
                <p>{{ form_start(form) }}
					{{ form_errors(form) }}
							<div class="form-group form-area">
								<label for="InputEmail">Nama Lengkap</label>
								<div class="input-group">
									{{ form_widget(form.fullname) }}
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
									{{ form_errors(form.fullname) }}
							</div>
							<div class="form-group form-area">
								<label for="InputEmail">Email</label>
								<div class="input-group">
									{{ form_widget(form.email) }}
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
									{{ form_errors(form.email) }}
							</div>
							<div class="form-group form-area">
								<label for="InputEmail">Password</label>
								<div class="input-group">
									{{ form_widget(form.password) }}
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
									{{ form_errors(form.password) }}
							</div>
							<div class="form-group form-area">
								<label for="InputEmail">Ulangi Password</label>
								<div class="input-group">
									{{ form_widget(form.password2) }}
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
									{{ form_errors(form.password2) }}
							</div>
							<div class="form-group form-area">
								<label for="InputEmail">Jenis Kelamin</label>
								<div class="input-group">
									{{ form_widget(form.sex) }}
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
									{{ form_errors(form.sex) }}
							</div>
							<div class="form-group form-area">
								<label for="InputEmail">Tanggal Lahir</label>
								<div class="input-group">
									{{ form_widget(form.birthday) }}
									<span class="input-group-addon add-on"><span class="glyphicon glyphicon-asterisk"></span>
								</div>
									{{ form_errors(form.birthday) }}
							</div>
							{{ form_row(form._token) }}

							<div class="form-group form-area">
								<h6>Dengan mengklik daftar, berarti Anda telah menyetujui <a href="{{ path('agreement') }}" class="agreement-link" target="_blank"> kesepakatan dan persyaratan </a> penggunaan aplikasi ini</h6>
							</div>
							<button type="submit" class='btn btn-default btn-lg pull-right btn-action-submit'>Daftar</button>
				{{ form_end(form) }}
				</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hubungi temenbekpeker</h2>
                <p>Tidak usah sungkan, silahkan hubungi kami untuk menyampaikan saran, atau hanya sekedar ingin menyapa kami!</p>
                <p><a href="mailto:call.bukuteman@gmail.com">call.bukuteman@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
										<li>
											<a href="https://twitter.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
										</li>
										<li>
											<a href="https://www.facebook.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
										</li>
                </ul>
            </div>
        </div>
    </section>
		<script>
		$('.btn-action-submit').on('click', function() {
			if (($('#lc_lcbundle_user_fullname').val() != '') && ($('#lc_lcbundle_user_email').val() != '') && ($('#lc_lcbundle_user_password').val() != '') && ($('#lc_lcbundle_user_password2').val() != '') && ($('#lc_lcbundle_user_birthday').val() != '')) {
				$('.spinner-handler').css('display', 'block');
				$('.btn-action-submit').addClass('disabled');
				return true;
			} else {
				alert('Mohon isi semua data terlebih dahulu!');
				return false;
			}
		})
		</script>
	{% endblock %}
