{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
				
				{% set fr = 0 %}
				{% for entity in entities %}						
						{% if loop.index%4 == 1 %}
							<div class="row">
						{% endif %}
								<div class="col-md-3">
									<div class="panel panel-success">
										<a href="{{ path('profile_see', {'token': entity.token }) }}">
											<div class="text-center"><img src="{{ asset('web/uploads/users/grande_') }}{{ entity.foto }}" alt="{{ entity.profile.name }}" data-toggle="tooltip" data-placement="top"/ title="Lihat Profile"></div>
										</a>
										<div class="name-center">
											<p>
												{{ entity.profile.name }}
											</p>
										</div>
										<div class="text-center">
											<a class="label label-primary" data-toggle="tooltip" data-placement="top" title="Kenal sama Dia?" href="{{ path('friend_create', {'token' : entity.token}) }}"> Kenalan</a>
										</div>
									</div>
								</div>
						{% if (loop.index%4 == 0) or (loop.index == cp) %}
							</div>
						{% endif %}
						
						{% set fr = 1 %}
					{% endfor %}
					
					{% if fr == 0 %}
						<div class="row">
							<h4>Maaf kami tidak menemukan orang yang Anda cari, coba dengan Nama lain.</h4>
						</div>
					{% endif %}
					<div class="text-center">
							{% if c > 16 %}
								{{ knp_pagination_render(entities) }}</b>
							{% endif %}
					</div>
					
				</div>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
