{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
				<div class="column">

						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<div class="media">
										<div class="media-left pull-left knowing">
											<div>
												<a href="{{ path('chat') }}" data-toggle="tooltip" class="loader-action" data-placement="top" title="Kembali">
							            <span class="fa fa-arrow-left fa-lg"></span>
							          </a>
											</div>
										</div>
									</div>
								</div>
								{% for entity in entities|sort %}
									{% if entity.senderid == app.user.id %}
									<div class="panel-body apanel-body p-border">
										<div class="media">
											<div class="media-right pull-right">
												<img src="{{ asset('web/uploads/users/thumb_') }}{{ app.user.foto }}" alt="{{ app.user.profile.name }}" class="img-circle img-thumb" >
											</div>
											<div class="media-body f-feel" style="text-align: right;">
												<h5 class="media-left">{{ entity.message }}</h5>
												<small class="text-muted pull-right"><i class="glyphicon glyphicon-time"></i> <i> {{ entity.createdAt | date('d-m-Y H:i:s') }}</i></small>
											</div>
										</div>
									</div>
									{% else %}
									<div class="panel-body apanel-body p-border">
										<div class="media">
											<div class="media-left pull-left">
												<img src="{{ asset('web/uploads/users/thumb_') }}{{ friend.foto }}" alt="{{ friend.profile.name }}" class="img-circle img-thumb" >
											</div>
											<div class="media-body f-feel">
												<b class="media-right">
													{{ friend.profile.name }}
													{% if friend.profile.user.isverified == 1 %}
														<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
													{% endif %}
												</b>
												<h5 class="media-right">{{ entity.message }}</h5>
												<small class="text-muted"> <i class="glyphicon glyphicon-time"></i> <i>{{ entity.createdAt | date('d-m-Y H:i:s') }}</i></small>
											</div>
										</div>
									</div>
									{% endif %}
								{% endfor %}
								<div class="panel-footer">
								<a href="{{ path('chat_show', {'token': friend.token }) }}" class="loader-action"><i class="glyphicon glyphicon-refresh"></i> RefreshChatList</a><br><br>
									{{ form_start(form) }}
									{{ form_errors(form) }}
									<div class="input-group">
										{{ form_widget(form.message) }}
										{{ form_errors(form.message) }}
										<span class="input-group-btn">
											<button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-send"></i> &nbsp;Kirim</button>
										</span>
									</div>
									{{ form_row(form._token) }}
									{{ form_end(form) }}
								</div>
							</div>
						</div>

				</div>

<script>
	window.onload = function() {
	document.getElementById("lc_lcbundle_chat_message").focus();
	};
	$('.btn').click(function(){
		if ($('#lc_lcbundle_chat_message').val() !== '') {
			$('.spinner-handler').css('display', 'block');
			$('.btn').addClass('disabled');
			return true;
		} else {
			alert('Isikan pesan terlebih dahulu!');
			return false;
		}
	})
</script>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
