{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
						
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<div class="media">
										<div class="media-left pull-left knowing">
											<img src="{{ asset('uploads/users/mini_') }}{{ app.user.foto }}" alt="{{ app.user.profile.name }}" class="img-rounded a-act">
											Pesan untukmu
										</div>
										<div class="media-body">
											<h5 class="media-right pull-right">
												<a class="a-act" href="#" data-toggle="tooltip" data-placement="top" title="Pesan untukmu"><i class="glyphicon glyphicon-envelope knowing"></i></a>
											</h5>
										</div>
									</div>
								</div>
								<div class="panel-body apanel-body p-border">
									<div class="media">
										<div class="media-left pull-left">
											<img src="img/wedus-48.jpeg" class="img-rounded" alt="Super">
										</div>
										<div class="media-body f-feel">
											<h4 class="media-right">Jhony Robert Junior</h4>
											<h5 class="media-right">Some wonderfull message that makes you happy. Hmmm... are you interested with him? So what are you waiting for let's move take him out!</h5>
											<a class="a-act pull-right" href="#" data-toggle="tooltip" data-placement="top" title="Buang"><i class="glyphicon glyphicon-trash"></i></a>
											<a class="a-act pull-right" href="#" data-toggle="tooltip" data-placement="top" title="Tulis balasan"><i class="glyphicon glyphicon-edit"></i></a>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
				</div>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
