{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
						
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<div class="media">
										<div class="media-left pull-left knowing">
											<img src="{{ asset('web/uploads/users/mini_') }}{{ app.user.foto }}" alt="{{ app.user.profile.name }}" class="img-rounded a-act">
											Daftar obrolanmu
										</div>
										<div class="media-body">
											<h5 class="media-right pull-right">
												<a class="a-act" href="#" data-toggle="tooltip" data-placement="top" title="Daftar obrolanmu"><i class="glyphicon glyphicon-envelope knowing"></i></a>
											</h5>
										</div>
									</div>
								</div>
								{% set cht = 0 %}
								{% for entity in entities %}
								<div class="panel-body apanel-body p-border">
									<div class="media">
										<div class="media-left pull-left">
										{% if entity.user2.foto != app.user.foto %}
											<img src="{{ asset('web/uploads/users/mini_') }}{{ entity.user2.foto }}" alt="{{ entity.user2.profile.name }}" class="img-rounded">
										{% endif %}
										</div>
										<div class="media-body f-feel">
										{% if entity.user2.foto != app.user.foto %}
											<h4 class="media-right">{{ entity.user2.profile.name }}</h4>
										{% endif %}
											
											<h5 class="media-right">{{ entity.message }}</h5>
											<a class="a-act pull-right" onclick="tanya('{{ entity.user2.profile.name }}','{{ entity.user2.token }}')" href="#" data-toggle="tooltip" data-placement="top" title="Hapus"><i class="glyphicon glyphicon-trash"></i></a>
											<a class="a-act pull-right" href="{{ path('chat_show', {'token': entity.user2.token }) }}" data-toggle="tooltip" data-placement="top" title="Balas"><i class="glyphicon glyphicon-share-alt"></i></a>
										</div>
									</div>
								</div>
								{% set cht = 1 %}
								{% endfor %}
								<div class="text-center">
									{% if c > 25 %}
										Halaman: <b>{{ knp_pagination_render(entities) }}</b>
									{% endif %}
								</div>
								{% if cht == 0 %}
								<div class="panel-body apanel-body p-border">
									<div class="media">
										<div class="media-left pull-left">
											
										</div>
										<div class="media-body f-feel">
											<h4 class="media-right">Sementara ini masih belum ada.</h4>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
						
				</div>
<script>
	function tanya(nama,token){
		var con = confirm('Kamu yakin akan menghapus percakapan mu dengan '+nama+'?');
		
		if (con){
			window.open('{{ app.request.getBaseURL() }}/heaven/chat/delete/'+token+'', '_top');
		}
	}
</script>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
