{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Adminlog list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login_at</th>
                <th>Last_login</th>
                <th>Logout_at</th>
                <th>Last_logout</th>
                <th>Ip_address</th>
                <th>Mac_address</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Token</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('adminlog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.loginat %}{{ entity.loginat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastlogin %}{{ entity.lastlogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.logoutat %}{{ entity.logoutat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.lastlogout %}{{ entity.lastlogout|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.ipaddress }}</td>
                <td>{{ entity.macaddress }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.token }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('adminlog_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('adminlog_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('adminlog_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
