{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{% block content%}
    <h3>Orderan Berhasil Dibuat</h3>
    <div class="panel panel-success">
        <div class="panel-body">
    <table class="record_properties">
        <tbody>

            <tr>
                <th>Catatan</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ entity.product|raw }}</td>
            </tr>
            <tr>
                <th>Nomor W/A</th>
                <td>{{ entity.phonewa }}</td>
            </tr>
            <tr>
                <th>Tanggal Pengiriman</th>
                <td>{{ entity.deliverydate }}</td>
            </tr>
        </tbody>
    </table><br/>
    Untuk selanjutnya admin kami menghubungi Anda melalui WhatsApp.
    Jika ada pertanyaan silahkan hubungi Admin kami untuk dengan mengklik link ini.
    <a target="_blank" href="https://api.whatsapp.com/send?phone=6281339878810&text=Hallo..">Halo Pradiste</a>
</div>
</div>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
