{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Profile list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Hobby</th>
                <th>Work</th>
                <th>Education</th>
                <th>Address</th>
                <th>Sallary</th>
                <th>Province</th>
                <th>City</th>
                <th>Lived</th>
                <th>Smoking</th>
                <th>Status</th>
                <th>Sex</th>
                <th>Religy</th>
                <th>Alcoholic</th>
                <th>Plan</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Token</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('profile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.hobby }}</td>
                <td>{{ entity.work }}</td>
                <td>{{ entity.education }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.sallary }}</td>
                <td>{{ entity.province }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.lived }}</td>
                <td>{{ entity.smoking }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.sex }}</td>
                <td>{{ entity.religy }}</td>
                <td>{{ entity.alcoholic }}</td>
                <td>{{ entity.plan }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.token }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('profile_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('profile_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('profile_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
