{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.profile.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
				{% if (app.session.flashbag.get('notice') is not empty) %}
				<center id="message-session">
				<div class="alert alert-success lebar" role="alert"> 
					Data akun mu sudah diupdate ! :D
				</div>
				<hr />
				</center>
				{% endif %}
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<i class="glyphicon glyphicon-user"></i>&nbsp;Pengelolaan Data Akun Anda
								</div>
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-body f-feel">
											{{ form_start(form) }}
												{{ form_errors(form) }}
											  <div class="form-group form-group-sm">
												<label class="col-sm-2 control-label" for="formGroupInputSmall">Username</label>
												<div class="col-sm-10">
												  {{ form_widget(form.username) }}
												</div>
												  {{ form_errors(form.username) }}
											  </div>
											  <div class="form-group form-group-sm">
												<label class="col-sm-2 control-label" for="formGroupInputSmall">Email</label>
												<div class="col-sm-10">
												  {{ form_widget(form.email) }}
												</div>
												  {{ form_errors(form.email) }}
											  </div>
											  <div class="form-group form-group-sm">
												<label class="col-sm-2 control-label" for="formGroupInputSmall">Phone</label>
												<div class="col-sm-10">
												  {{ form_widget(form.phone) }}
												</div>
												  {{ form_errors(form.phone) }}
											  </div>
											  
											  <div class="form-group form-group-sm">
												<label class="col-sm-2 control-label" for="formGroupInputSmall">Tanggal lahir</label>
												<div class="col-sm-10">
												  <input class="form-control" value="{{ entity.birthday | date('d-m-Y') }}" type="text" id="formGroupInputSmall" placeholder="Tanggal lahir" readonly>
												</div>
											  </div>
											  <div class="form-group form-group-sm">
												<label class="col-sm-2 control-label" for="formGroupInputSmall">Jenis Kelamin</label>
												<div class="col-sm-10">
													<div class="radio disabled">
													  <label>
														<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked disabled>
														{% if entity.sex == 1 %}
														Laki-laki
														{% elseif entity.sex == 2 %}
														Perempuan
														{% else %}
														Not Found
														{% endif %}
													  </label>
													</div>
												</div>
											  </div>
											  <div class="form-group form-group-sm pull-right">
													<div class="col-sm-10">
														<button type="submit" class="btn btn-primary btn-feel"><i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;&nbsp;Update</button>
													</div>
											  </div>
												{{ form_row(form._token) }}
											{{ form_end(form) }}
											<br /><br />
											<a href="{{ path('user_pass') }}">Ubah Password</a>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
