{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.profile.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
				{% if (app.session.flashbag.get('notice') is not empty) %}
				<center id="message-session">
				<div class="alert alert-success lebar" role="alert"> 
					Data profile mu berhasil diubah ! :D
				</div>
				<hr />
				</center>
				{% endif %}
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<i class="glyphicon glyphicon-user"></i>&nbsp;Pengelolaan Data Profile Anda
								</div>
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-body f-feel">
											{{ form_start(form) }}
												{{ form_errors(form) }}
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Nama Lengkap</label>
												<div class="col-sm-7">
												  {{ form_widget(form.name) }}
												</div>
												  {{ form_errors(form.name) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Tentang Anda</label>
												<div class="col-sm-7">
												  {{ form_widget(form.about) }}
												</div>
												  {{ form_errors(form.about) }}
											  </div>
											  <br><br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Alamat lengkap</label>
												<div class="col-sm-7">
												  {{ form_widget(form.address) }}
												</div>
												  {{ form_errors(form.address) }}
											  </div>
											  <br><br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Hobby</label>
													<div class="col-sm-7">
														{{ form_widget(form.hobby) }}
												</div>
												  {{ form_errors(form.hobby) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Pekerjaan</label>
													<div class="col-sm-7">
														{{ form_widget(form.job) }}
												</div>
												  {{ form_errors(form.job) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Gaji</label>
													<div class="col-sm-7">
														{{ form_widget(form.sallary) }}
												</div>
												  {{ form_errors(form.sallary) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Pendidikan</label>
													<div class="col-sm-7">
														{{ form_widget(form.education) }}
												</div>
												  {{ form_errors(form.education) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Provinsi</label>
													<div class="col-sm-7">
														{{ form_widget(form.province) }}
												</div>
												  {{ form_errors(form.province) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Kabupaten/Kota</label>
													<div class="col-sm-7">
														{{ form_widget(form.city) }}
												</div>
												  {{ form_errors(form.city) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Di mana Anda bertempat tinggal?</label>
													<div class="col-sm-7">
														{{ form_widget(form.lived) }}
												</div>
												  {{ form_errors(form.lived) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Apakah Anda perokok?</label>
													<div class="col-sm-7">
														{{ form_widget(form.smoking) }}
												</div>
												  {{ form_errors(form.smoking) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Status pernikahan Anda</label>
													<div class="col-sm-7">
														{{ form_widget(form.status) }}
												</div>
												  {{ form_errors(form.status) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Agama</label>
													<div class="col-sm-7">
														{{ form_widget(form.religy) }}
												</div>
												  {{ form_errors(form.religy) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Apakah Anda peminum alkohol?</label>
													<div class="col-sm-7">
														{{ form_widget(form.alcoholic) }}
												</div>
												  {{ form_errors(form.alcoholic) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Rencana akan menikah dalam?</label>
													<div class="col-sm-7">
														{{ form_widget(form.plan) }}
												</div>
												  {{ form_errors(form.plan) }}
											  </div>
											  
											  <div class="form-group form-group-sm pull-right">
													<div class="col-sm-7">
													<br><br>
														<button type="submit" class="btn btn-primary btn-feel"><i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Update</button>
													</div>
											  </div>
											  
											{{ form_row(form._token) }}
											{{ form_end(form) }}
											<br /><br />
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#lc_lcbundle_profile_province').change(function(){
           var val = $(this).val();
           $.ajax({
                type: "POST",
                url: "{{ url('province_ajax_call') }}?province_id=" + val,
                success: function(data) {

                    // Remove current options
                    $('#lc_lcbundle_profile_city').html('');

                    $.each(data, function(k, v) {
                        $('#lc_lcbundle_profile_city').append('<option value="' + v + '">' + k + '</option>');
                    });
                }
            });

            return false;
        });
    });

</script>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
