{%block leftcontent%}
<div class="row">
		<div class="panel panel-success">
			<div class="panel-heading panel-success see-status">
				<div>
					<h4>Lihat profilemu</h4>
				</div>
			</div>
		</div>
		{{ include ('LcLcBundle:Default:userleftbar.profile.html.twig') }}
</div>
{% endblock %}
{%block content%}
				<div class="column">
				{% if (app.session.flashbag.get('notice') is not empty) %}
				<center id="message-session">
				<div class="alert alert-success lebar" role="alert">
					Data profile mu berhasil diubah ! :D
				</div>
				<hr />
				</center>
				{% endif %}
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<i class="glyphicon glyphicon-user"></i>&nbsp;Pengelolaan Data Profile Anda
								</div>
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-body f-feel">
											{{ form_start(form) }}
												{{ form_errors(form) }}
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Nama Lengkap</label>
												<div class="col-sm-7">
												  {{ form_widget(form.name) }}
												</div>
												  {{ form_errors(form.name) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Tentang Anda</label>
												<div class="col-sm-7">
												  {{ form_widget(form.about) }}
												</div>
												  {{ form_errors(form.about) }}
											  </div>
											  <br><br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Alamat lengkap</label>
												<div class="col-sm-7">
												  {{ form_widget(form.address) }}
												</div>
												  {{ form_errors(form.address) }}
											  </div>
											  <br><br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Pekerjaan</label>
													<div class="col-sm-7">
														{{ form_widget(form.job) }}
												</div>
												  {{ form_errors(form.job) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Asal Sekolah</label>
													<div class="col-sm-7">
														{{ form_widget(form.school) }}
												</div>
												  {{ form_errors(form.school) }}
											  </div>
											  <br><br>
											  <div class="form-group form-group-sm">
												<label class="col-sm-5 control-label" for="formGroupInputSmall">Asal Kota/Kabupaten</label>
													<div class="col-sm-7">
														{{ form_widget(form.city) }}
												</div>
												  {{ form_errors(form.city) }}
											  </div>

											  <div class="form-group form-group-sm pull-right">
													<div class="col-sm-7">
													<br><br>
														<button type="submit" class="btn btn-primary btn-feel"><i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Update</button>
													</div>
											  </div>

											{{ form_row(form._token) }}
											{{ form_end(form) }}
											<br /><br />
										</div>
									</div>
								</div>
							</div>
						</div>
						{% for entity in entities %}
						<div class="row margin-feel" id="{{ entity.token }}">
							<div class="panel panel-success">
								{% if entity.foto %}
								<a href="{{ path('feeling_show', {'token': entity.token }) }}">
									<div class="panel-footer panel-image">
											<center><img src="{{ asset('web/uploads/feels/feel_') }}{{ entity.foto }}" alt="{{ entity.user.profile.name }}" class="img-responsive img-full"></center>
									</div>
								</a>
								{% endif %}
								<div class="panel-body apanel-body">
									{% if entity.shared %}
										{% if entity.user.broad != 1 %}
										<a class="share-link" href="{{ path('profile_see', {'token': entity.user.token }) }}">
											<i class="glyphicon glyphicon-retweet"></i> {{ entity.user.profile.name }}
											{% if entity.user.isverified == 1 %}
												<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
											{% endif %}
											repost
										</a>
										{% else %}
											<div class="share-link">
												<i class="glyphicon glyphicon-retweet"></i> {{ entity.user.profile.name }}
												{% if entity.user.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
												repost
											</div>
										{% endif %}
									{% endif %}
									<div class="media">
										<div class="media-left pull-left">
											{% if entity.shared %}
												{% if entity.parent.user.broad != 1 %}
												<a href="{{ path('profile_see', {'token': entity.parent.user.token }) }}">
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.parent.user.foto }}" alt="{{ entity.parent.user.profile.name }}" class="img-rounded">
												</a>
												{% else %}
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.parent.user.foto }}" alt="{{ entity.parent.user.profile.name }}" class="img-rounded">
												{% endif %}
											{% else %}
												{% if entity.user.broad != 1 %}
												<a href="{{ path('profile_see', {'token': entity.user.token }) }}">
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
												</a>
												{% else %}
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
												{% endif %}
											{% endif %}
										</div>
										<h5>
											{% if entity.shared %}
												{% if entity.parent.user.broad != 1 %}
													<a href="{{ path('profile_see', {'token': entity.parent.user.token }) }}">
														{{ entity.parent.user.profile.name }}
														{% if entity.parent.user.isverified == 1 %}
															<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
														{% endif %}
													</a>
												{% else %}
													{{ entity.parent.user.profile.name }}
													{% if entity.parent.user.isverified == 1 %}
														<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
													{% endif %}
												{% endif %}
											{% else %}
												{% if entity.user.broad != 1 %}
													<a href="{{ path('profile_see', {'token': entity.user.token }) }}">
														{{ entity.user.profile.name }}
														{% if entity.user.isverified == 1 %}
															<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
														{% endif %}
													</a>
												{% else %}
													{{ entity.user.profile.name }}
													{% if entity.user.isverified == 1 %}
														<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
													{% endif %}
												{% endif %}
											{% endif %}
										</h5>
										<a href="{{ path('feeling_show', {'token': entity.token }) }}">
											<div class="media-body f-feel">
												<h5 class="media-right">{{ entity.feel|raw }}</h5>
												<div class='pull-right created_at'><small class="text-muted"> <i class="glyphicon glyphicon-time"></i> <i>{{ entity.createdAt | date('d-m-Y H:i:s') }}</i></small></div>
											</div>
										</a>
									</div>
								</div>
								<div class="panel-footer panel-success right">
									<div class="media">
										<div class="media-body">
											<div class="col-sm-4">
												<h5 class="pull-left">
													{% if entity.user.broad == 1 %}
														<i><i class="glyphicon glyphicon-export"></i> broadcast</i>
													{% endif %}
												</h5>
											</div>
											<div class="col-sm-8" style="display: flex; flex-direction: row; justify-content: space-between;">
												<h5 class="media-right pull-right">
													<span class="counter-activity">{{ entity.fcomment|length > 0 ? entity.fcomment|length|number_format(0, ',', ' ') : '' }}</span>
													<a class="a-act" href="{{ path('feeling_show', {'token': entity.token }) }}#comments" data-toggle="tooltip" data-placement="left" title="Tulis balasan"><i class="glyphicon glyphicon-comment"></i></a>
												</h5>
												<h5 class="media-right pull-right">
													<span class="counter-activity">{{ entity.fshare|length > 0 ? entity.fshare|length|number_format(0, ',', ' ') : '' }}</span>
													<a class="a-act" href="{{ path('fshare_create', {'feel': entity.token, 'page': '3' }) }}?page={{ page }}" data-toggle="tooltip" data-placement="left" title="Re-Post"><i class="glyphicon glyphicon-retweet"></i></a>
												</h5>
												<h5 class="media-right pull-right">
													{% set lk = 0 %}
													{% for like in entity.flike %}
														{% if like.user.id == app.user.id %}
															{% set lk = 1 %}
														{% endif %}
													{% endfor %}
													{% if lk == 0 %}
													<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
													<a class="a-act" href="{{ path('flike_create', {'feel': entity.token, 'page': '3' }) }}?page={{ page }}" data-toggle="tooltip" data-placement="left" title="Beri simpati"><i class="glyphicon glyphicon-thumbs-up"></i></a>
													{% else %}
													<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
													<i class="glyphicon glyphicon-thumbs-up disabled-like a-act"></i>
													{% endif %}
												</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="text-center">
							{% if c > 25 %}
								{{ knp_pagination_render(entities) }}</b>
							{% endif %}
						</div>
				</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#lc_lcbundle_profile_province').change(function(){
           var val = $(this).val();
           $.ajax({
                type: "POST",
                url: "{{ url('province_ajax_call') }}?province_id=" + val,
                success: function(data) {

                    // Remove current options
                    $('#lc_lcbundle_profile_city').html('');

                    $.each(data, function(k, v) {
                        $('#lc_lcbundle_profile_city').append('<option value="' + v + '">' + k + '</option>');
                    });
                }
            });

            return false;
        });
    });

</script>
{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
