{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<i class="glyphicon glyphicon-user"></i>&nbsp;Preview Akun {{ entity.name }}
								</div>
											<center>
											<img class="thumbnail" src="{{ asset('web/uploads/users/index_') }}{{ entity.user.foto }}" alt="{{ entity.name }}">
											{% if entity.user.isverified == 1 %}
												<span style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i> Verified Account</span><br><br>
											{% endif %}
											{% if friend and friend.isconfirmed == 0 %}
												<div class="label label-success">Permintaan pertemanan sudah dikirim</div>
											{% elseif friend and friend.isconfirmed == 1 %}
												<div class="label label-success">Dia sudah berteman denganmu</div><br /><br / >
											{% else %}
												{% if app.user.id != entity.user.id %}
													<a class="label label-primary" data-toggle="tooltip" data-placement="top" title="Kenal sama Dia?" href="{{ path('friend_create', {'token' : entity.user.token}) }}"> Kenalan</a>
												{% endif %}
											{% endif %}
											</center>
								<hr />
								<div class="media-body f-feel">
								{% if entity.name != '' %}
										<div class="form-group form-group-sm">
										<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Nama Lengkap</h5></label>
										<div class="col-sm-7">
											<h5>
												{{ entity.name }}
												{% if entity.user.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
											</h5>
										</div>
										</div>
										<br><br>
								{% endif %}
								{% if entity.about != '' %}
										<div class="form-group form-group-sm">
										<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Tentang Anda</h5></label>
										<div class="col-sm-7">
											<h5>{{ entity.about }}</h5>
										</div>
										</div>
										<br><br><br>
								{% endif %}
								{% if entity.address != '' %}
										<div class="form-group form-group-sm">
										<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Alamat lengkap</h5></label>
										<div class="col-sm-7">
											<h5>{{ entity.address }}</h5>
										</div>
										</div>
										<br><br><br>
								{% endif %}
								{% if entity.job != '' %}
										<div class="form-group form-group-sm">
										<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Pekerjaan</h5></label>
											<div class="col-sm-7">
												<h5>{{ entity.job }}</h5>
										</div>
										</div>
										<br><br>
								{% endif %}
								{% if entity.school != '' %}
										<div class="form-group form-group-sm">
										<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Asal Sekolah</h5></label>
											<div class="col-sm-7">
												<h5>{{ entity.school }}</h5>
										</div>
										</div>
										<br><br>
								{% endif %}
								{% if entity.city != '' %}
										<div class="form-group form-group-sm">
										<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Asal Kota/Kabupaten</h5></label>
											<div class="col-sm-7">
												<h5>{{ entity.city }}</h5>
										</div>
										</div>
										<br /><br />
								{% endif %}
								</div>
								<br>
							</div>
						</div>
						{% for entity in entities %}
						<div class="row margin-feel">
							<div class="panel panel-success">
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-left pull-left">
											{% if entity.user.broad != 1 %}
											<a href="{{ path('profile_see', {'token': entity.user.token }) }}">
												<img src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
											</a>
											{% else %}
												<img src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
											{% endif %}
											<div class="media-left knowing">
												<h5 style="margin-bottom:-20px;margin-left:70%;">
													{% if entity.user.isverified == 1 %}
														<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
													{% endif %}
												</h5>
												<div class="limit-string">
													<h5>{{ entity.user.profile.name }}</h5>
												</div>
											</div>
										</div>
										{% if entity.shared %}
											{% if entity.parent.user.broad != 1 %}
											<a href="{{ path('profile_see', {'token': entity.parent.user.token }) }}">
												<i class="glyphicon glyphicon-retweet"></i> {{ entity.parent.user.profile.name }}
												{% if entity.parent.user.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
											</a>
											{% else %}
												<i class="glyphicon glyphicon-retweet"></i> {{ entity.parent.user.profile.name }}
												{% if entity.parent.user.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
											{% endif %}
										{% endif %}
										<a href="{{ path('feeling_show', {'token': entity.token }) }}">
											<div class="media-body f-feel">
												<h5 class="media-right">{{ entity.feel|raw }}</h5>
												<div class='pull-right created_at'><small class="text-muted"> <i class="glyphicon glyphicon-time"></i> <i>{{ entity.createdAt | date('d-m-Y H:i:s') }}</i></small></div>
											</div>
										</a>
									</div>
								</div>

								{% if entity.foto %}
								<a href="{{ path('feeling_show', {'token': entity.token }) }}">
									<div class="panel-footer panel-image">
											<center><img src="{{ asset('web/uploads/feels/feel_') }}{{ entity.foto }}" alt="{{ entity.user.profile.name }}" class="img-responsive img-full"></center>
									</div>
								</a>
								{% endif %}
								<div class="panel-footer panel-success right">
									<div class="media">
										<div class="media-body">
											<h5 class="pull-left">
											  {% if entity.user.broad == 1 %}
												  <i><i class="glyphicon glyphicon-export"></i> broadcast</i>
											  {% endif %}
											</h5>
											<h5 class="media-right pull-right">
											<span class="counter-activity">{{ entity.fcomment|length > 0 ? entity.fcomment|length|number_format(0, ',', ' ') : '' }}</span>
											<a class="a-act" href="{{ path('feeling_show', {'token': entity.token }) }}" data-toggle="tooltip" data-placement="top" title="Tulis balasan"><i class="glyphicon glyphicon-comment"></i></a>
											</h5>
											<h5 class="media-right pull-right">
											<span class="counter-activity">{{ entity.fshare|length > 0 ? entity.fshare|length|number_format(0, ',', ' ') : '' }}</span>
											<a class="a-act" href="{{ path('fshare_create', {'feel': entity.token }) }}" data-toggle="tooltip" data-placement="top" title="Re-Post"><i class="glyphicon glyphicon-retweet"></i></a>
											</h5>
											<h5 class="media-right pull-right">
											{% set lk = 0 %}
											{% for like in entity.flike %}
												{% if like.user.id == app.user.id %}
													{% set lk = 1 %}
												{% endif %}
											{% endfor %}
											{% if lk == 0 %}
											<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
											<a class="a-act" href="{{ path('flike_create', {'feel': entity.token, 'page': '2' }) }}" data-toggle="tooltip" data-placement="top" title="Beri simpati"><i class="glyphicon glyphicon-thumbs-up"></i></a>
											{% else %}
											<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
											<i class="glyphicon glyphicon-thumbs-up disabled-like a-act"></i>
											{% endif %}
											</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="text-center">
							{% if c > 25 %}
								{{ knp_pagination_render(entities) }}</b>
							{% endif %}
						</div>
				</div>

{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
