{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.profile.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<i class="glyphicon glyphicon-user"></i>&nbsp;Preview Akun Anda
								</div>
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-left pull-left">
											<img class="thumbnail" src="{{ asset('web/uploads/users/index_') }}{{ entity.user.foto }}" alt="{{ entity.name }}">
										</div>
										<div class="media">
											<div class="media-body f-feel">
												  <div class="form-group form-group-sm">
													<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Nama Lengkap</h5></label>
													<div class="col-sm-7">
													  <h5>{{ entity.name }}</h5>
													</div>
												  </div>
												  <br><br>
												  <div class="form-group form-group-sm">
													<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Tentang Anda</h5></label>
													<div class="col-sm-7">
													  <h5>{{ entity.about }}</h5>
													</div>
												  </div>
												  <br><br><br>
												  <div class="form-group form-group-sm">
													<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Alamat lengkap</h5></label>
													<div class="col-sm-7">
													  <h5>{{ entity.address }}</h5>
													</div>
												  </div>
												  <br><br><br>
												  <div class="form-group form-group-sm">
													<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Pekerjaan</h5></label>
														<div class="col-sm-7">
															<h5>{{ entity.job }}</h5>
													</div>
												  </div>
												  <br><br>
												  <div class="form-group form-group-sm">
													<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Asal Sekolah</h5></label>
														<div class="col-sm-7">
															<h5>{{ entity.school }}</h5>
													</div>
												  </div>
												  <br><br>
												  <div class="form-group form-group-sm">
													<label class="col-sm-5 control-label" for="formGroupInputSmall"><h5>Asal Kota/Kabupaten</h5></label>
														<div class="col-sm-7">
															<h5>{{ entity.city }}</h5>
													</div>
												  </div>
													<br /><br />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>

{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
