{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.profile.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<i class="glyphicon glyphicon-user"></i>&nbsp;Preview Akun Anda
								</div>
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-left pull-left">
											<img class="thumbnail" src="{{ asset('web/uploads/users/index_') }}{{ entity.user.foto }}" alt="{{ entity.name }}">
										</div>
										<div class="media-body">
											<div class="media-right">
											<table>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Nama Lengkap</td><td valign="top">:</td><td valign="top">{{ entity.name }}</td></tr>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Tentang saya</td><td valign="top">:</td><td valign="top">{{ entity.about }}</td></tr>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Alamat</td><td valign="top">:</td><td valign="top">{{ entity.address }}</td></tr>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Status pernikahan</td><td valign="top">:</td><td valign="top">{{ entity.status }}</td></tr>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Pekerjaan</td><td valign="top">:</td><td valign="top">{{ entity.job }}</td></tr>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Pendidikan</td><td valign="top">:</td><td valign="top">{{ entity.education }}</td></tr>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Tempat tinggal</td><td valign="top">:</td><td valign="top">{{ entity.lived }}</td></tr>
												<tr style="border-bottom: solid 0.1px; border-color:#D4BFC8"><td valign="top">Agama</td><td valign="top">:</td><td valign="top">{{ entity.religy }}</td></tr>
											</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>

{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
