{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.profile.html.twig') }}
{% endblock %}
{%block content%}
				<div class="col-sm-7 column">
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success">
									<i class="glyphicon glyphicon-user"></i>&nbsp;Preview Akun Anda
								</div>
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-left pull-left">
											<img class="thumbnail" src="{{ asset('uploads/users/index_') }}{{ entity.user.foto }}" alt="{{ entity.name }}">
											<a class="label label-primary" data-toggle="tooltip" data-placement="top" title="Suka sama Dia?" href="#">Tertarik</a>
										</div>
										<div class="media-body">
											<div class="media-right">
											<table>
												<tr><td>Nama Lengkap</td><td>:</td><td>{{ entity.name }}</td></tr>
												<tr><td>Tentang saya</td><td>:</td><td>{{ entity.about }}</td></tr>
												<tr><td>Alamat</td><td>:</td><td>{{ entity.address }}</td></tr>
												<tr><td>Status pernikahan</td><td>:</td><td>{{ entity.status }}</td></tr>
												<tr><td>Hobi</td><td>:</td><td>{{ entity.hobby }}</td></tr>
												<tr><td>Pekerjaan</td><td>:</td><td>{{ entity.job }}</td></tr>
												<tr><td>Pendidikan</td><td>:</td><td>{{ entity.education }}</td></tr>
												<tr><td>Gaji</td><td>:</td><td>{{ entity.sallary }}</td></tr>
												<tr><td>Tempat tinggal:</td><td>:</td><td>{{ entity.lived }}</td></tr>
												<tr><td>Perokok</td><td>:</td><td>{{ entity.smoking }}</td></tr>
												<tr><td>Peminum alkohol</td><td>:</td><td>{{ entity.alcoholic }}</td></tr>
												<tr><td>Agama</td><td>:</td><td>{{ entity.religy }}</td></tr>
												<tr><td>Rencana menikah</td><td>:</td><td>{{ entity.plan }} lagi</td></tr>
											</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>

{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
