{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
				<div class="col-sm-7 column">
				{% if (app.session.flashbag.get('notice') is not empty) %}
				<center id="message-session">
				<div class="alert alert-success lebar" role="alert">
					Status mu sudah diposting ! :D
				</div>
				<hr />
				</center>
				{% endif %}
						<div class="row">
							<div class="panel panel-success">

								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-left pull-left">
											<img src="{{ asset('web/uploads/users/mini_') }}{{ app.user.foto }}" alt="{% if app.user.profile.name is defined %}{{ app.user.profile.name }} {% else %} {{ app.user.email }} {% endif %}" class="img-rounded">
										</div>
										<div class="media-body">
											 <div class="col-md-12">
												{{ form_start(form) }}
												{{ form_errors(form) }}
													<div class="form-group">
													{{ form_widget(form.feel) }}
													</div>
													{{ form_errors(form.feel) }}

													<h5>Tambahkan foto:{{ form_widget(form.file) }}</h5>
													{{ form_errors(form.file) }}
													<div class="form-group right">
														<button onclick="return checkLength()" type="submit" id="btn-feel-new" class="btn btn-primary btn-feel"><i class="glyphicon glyphicon-send"></i> &nbsp;Posting</button>
													</div>
												{{ form_row(form._token) }}
												{{ form_end(form) }}
											</div><!-- /.col-lg-6 -->
										</div>
									</div>
								</div>
							</div>
						</div>
						{% for entity in entities %}
						<div class="row margin-feel">
							<div class="panel panel-success">
								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-left pull-left">
											{% if entity.user.broad != 1 %}
											<a href="{{ path('profile_see', {'token': entity.user.token }) }}">
												<img src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
											</a>
											{% else %}
												<img src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
											{% endif %}
											<div class="media-left knowing">
												<h5 style="margin-bottom:-20px;margin-left:70%;">
													{% if entity.user.isverified == 1 %}
														<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
													{% endif %}
												</h5>
												<div class="limit-string">
													<h5>{{ entity.user.profile.name }}</h5>
												</div>
											</div>
										</div>
										{% if entity.shared %}
											{% if entity.parent.user.broad != 1 %}
											<a href="{{ path('profile_see', {'token': entity.parent.user.token }) }}">
												<i class="glyphicon glyphicon-retweet"></i> {{ entity.parent.user.profile.name }}
												{% if entity.parent.user.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
											</a>
											{% else %}
												<i class="glyphicon glyphicon-retweet"></i> {{ entity.parent.user.profile.name }}
												{% if entity.parent.user.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
											{% endif %}
										{% endif %}
										<a href="{{ path('feeling_show', {'token': entity.token }) }}">
											<div class="media-body f-feel">
												<h5 class="media-right">{{ entity.feel|raw }}</h5>
												<div class='pull-right created_at'><small class="text-muted"> <i class="glyphicon glyphicon-time"></i> <i>{{ entity.createdAt | date('d-m-Y H:i:s') }}</i></small></div>
											</div>
										</a>
									</div>
								</div>

								{% if entity.foto %}
								<a href="{{ path('feeling_show', {'token': entity.token }) }}">
									<div class="panel-footer panel-image">
											<center><img src="{{ asset('web/uploads/feels/feel_') }}{{ entity.foto }}" alt="{{ entity.user.profile.name }}" class="img-responsive img-full"></center>
									</div>
								</a>
								{% endif %}
								<div class="panel-footer panel-success right">
									<div class="media">
										<div class="media-body">
											<h5 class="pull-left">
											  {% if entity.user.broad == 1 %}
												  <i><i class="glyphicon glyphicon-export"></i> broadcast</i>
											  {% endif %}
											</h5>
											<h5 class="media-right pull-right">
											<span class="counter-activity">{{ entity.fcomment|length > 0 ? entity.fcomment|length|number_format(0, ',', ' ') : '' }}</span>
											<a class="a-act" href="{{ path('feeling_show', {'token': entity.token }) }}" data-toggle="tooltip" data-placement="top" title="Tulis balasan"><i class="glyphicon glyphicon-comment"></i></a>
											</h5>
											<h5 class="media-right pull-right">
											<span class="counter-activity">{{ entity.fshare|length > 0 ? entity.fshare|length|number_format(0, ',', ' ') : '' }}</span>
											<a class="a-act" href="{{ path('fshare_create', {'feel': entity.token }) }}" data-toggle="tooltip" data-placement="top" title="Re-Post"><i class="glyphicon glyphicon-retweet"></i></a>
											</h5>
											<h5 class="media-right pull-right">
											{% set lk = 0 %}
											{% for like in entity.flike %}
												{% if like.user.id == app.user.id %}
													{% set lk = 1 %}
												{% endif %}
											{% endfor %}
											{% if lk == 0 %}
											<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
											<a class="a-act" href="{{ path('flike_create', {'feel': entity.token, 'page': '2' }) }}" data-toggle="tooltip" data-placement="top" title="Beri simpati"><i class="glyphicon glyphicon-thumbs-up"></i></a>
											{% else %}
											<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
											<i class="glyphicon glyphicon-thumbs-up disabled-like a-act"></i>
											{% endif %}
											</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="text-center">
							{% if c > 25 %}
								{{ knp_pagination_render(entities) }}</b>
							{% endif %}
						</div>
				</div>
<script type="text/javascript" src="{{ asset('web/bundles/lclc/js/validate-image-feel.js') }}"></script>
<script src="{{ asset('web/bundles/lclc/js/summernote.js') }}"></script>
<script>
$(document).ready(function() {
    $('#lc_lcbundle_feeling_feel').summernote({
				placeholder: 'bagikan sesuatu...',
				tooltip: false,
				height: 100,
				toolbar: [
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic', 'underline']],
			    ['font', ['strikethrough', 'superscript', 'subscript']],
			    ['para', ['ul', 'ol',]]
			  ]
		});
});
function checkLength(){
    var textbox = document.getElementById("lc_lcbundle_feeling_feel");
		if (textbox.value.length == 0) {
			alert('Tuliskan sesuatu, sebelum posting.');
			return false;
		}
    else if(textbox.value.length <= 850){
        //Validate();
    }
    else{
        alert("Postingan tidak boleh melibihi 850 karater.");
				return false;
    }
}
</script>

{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
