{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}
<link href="{{ asset('web/bundles/lclc/css/summernote.css') }}" rel="stylesheet">
				<div class="column">
				{% if (app.session.flashbag.get('notice') is not empty) %}
				<center id="message-session">
				<div class="alert alert-success lebar" role="alert">
					Status mu sudah diposting ! :D
				</div>
				<hr />
				</center>
				{% endif %}
				{% if app.user %}
						<div class="row">
							<div class="panel panel-success">

								<div class="panel-body apanel-body">
									<div class="media">
										<div class="media-left pull-left">
											<a href="{{ path('profile_data') }}" class="loader-action" data-toggle="tooltip" data-placement="top" title="Lihat profile Anda">
												<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ app.user.foto }}" alt="{% if app.user.profile.name is defined %}{{ app.user.profile.name }} {% else %} {{ app.user.email }} {% endif %}" class="img-rounded">
											</a>
										</div>
										<div class="media-body">
											 <div class="col-md-12">
												{{ form_start(form) }}
												{{ form_errors(form) }}
													<div class="form-group">
													{{ form_widget(form.feel) }}
													</div>
													{{ form_errors(form.feel) }}

													<h5>Tambahkan foto:{{ form_widget(form.file) }}</h5>
													{{ form_errors(form.file) }}
													<div class="form-group right">
														<button onclick="return checkLength()" type="submit" id="btn-feel-new" class="btn btn-primary btn-feel"><i class="glyphicon glyphicon-send"></i> &nbsp;Posting</button>
													</div>
												{{ form_row(form._token) }}
												{{ form_end(form) }}
											</div><!-- /.col-lg-6 -->
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						{% for entity in entities %}
						<div class="row margin-feel" id="{{ entity.token }}">
							<div class="panel panel-success">
								{% if entity.foto %}

									<div class="panel-footer panel-image panel-zoom{{ entity.token }}">
											<center><img src="{{ asset('web/uploads/feels/feel_') }}{{ entity.foto }}" alt="{{ entity.user.profile.name }}" class="img-responsive img-full"></center>
											<a href="#zoomin" onclick="showBig('zoom{{ entity.token }}', 'panel-zoom{{ entity.token }}')" style="text-align: center;"> Perbesar gambar</a>
									</div>
									<div class="zoom{{ entity.token }}" style="display: none;">
										<img src="{{ asset('web/uploads/feels/feel_') }}{{ entity.foto }}"  alt="{{ entity.user.profile.name }}" />
										<a href="#zoomin" onclick="closeBig('zoom{{ entity.token }}', 'panel-zoom{{ entity.token }}')" style="text-align: center;"> Tutup Perbesar gambar</a>
									</div>
								{% endif %}
								<div class="panel-body apanel-body">
									{% if entity.shared %}
										{% if entity.user.broad != 1 %}
										<a class="share-link loader-action" href="{{ path('profile_see', {'token': entity.user.token }) }}">
											<i class="glyphicon glyphicon-retweet"></i> {{ entity.user.profile.name }}
											{% if entity.user.isverified == 1 %}
												<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
											{% endif %}
											repost
										</a>
										{% else %}
											<div class="share-link">
												<i class="glyphicon glyphicon-retweet"></i> {{ entity.user.profile.name }}
												{% if entity.user.isverified == 1 %}
													<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
												{% endif %}
												repost
											</div>
										{% endif %}
									{% endif %}
									<div class="media">
										<div class="media-left pull-left">
											{% if entity.shared %}
												{% if entity.parent.user.broad != 1 %}
												<a href="{{ path('profile_see', {'token': entity.parent.user.token }) }}" class="loader-action">
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.parent.user.foto }}" alt="{{ entity.parent.user.profile.name }}" class="img-rounded">
												</a>
												{% else %}
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.parent.user.foto }}" alt="{{ entity.parent.user.profile.name }}" class="img-rounded">
												{% endif %}
											{% else %}
												{% if entity.user.broad != 1 %}
												<a href="{{ path('profile_see', {'token': entity.user.token }) }}" class="loader-action">
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
												</a>
												{% else %}
													<img class="img-mini" src="{{ asset('web/uploads/users/mini_') }}{{ entity.user.foto }}" alt="{{ entity.user.profile.name }}" class="img-rounded">
												{% endif %}
											{% endif %}
										</div>
										<h5>
											{% if entity.shared %}
												{% if entity.parent.user.broad != 1 %}
													<a href="{{ path('profile_see', {'token': entity.parent.user.token }) }}" class="loader-action">
														{{ entity.parent.user.profile.name }}
														{% if entity.parent.user.isverified == 1 %}
															<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
														{% endif %}
													</a>
												{% else %}
													{{ entity.parent.user.profile.name }}
													{% if entity.parent.user.isverified == 1 %}
														<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
													{% endif %}
												{% endif %}
											{% else %}
												{% if entity.user.broad != 1 %}
													<a href="{{ path('profile_see', {'token': entity.user.token }) }}" class="loader-action">
														{{ entity.user.profile.name }}
														{% if entity.user.isverified == 1 %}
															<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
														{% endif %}
													</a>
												{% else %}
													{{ entity.user.profile.name }}
													{% if entity.user.isverified == 1 %}
														<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
													{% endif %}
												{% endif %}
											{% endif %}
										</h5>
										<a href="#">
											<div class="media-body f-feel" style="margin-top: -20px;">
												<h5 class="media-right">{{ entity.feel|raw }}</h5>
												<div class='pull-right created_at'><small class="text-muted"> <i class="glyphicon glyphicon-time"></i> <i>{{ entity.createdAt | date('d-m-Y H:i:s') }}</i></small></div>
											</div>
										</a>
									</div>
								</div>
								<div class="panel-footer panel-success right">
									<div class="media">
										<div class="media-body">
											<div class="col-sm-4">
												<h5 class="pull-left">
													{% if entity.user.broad == 1 %}
														<i><i class="glyphicon glyphicon-export"></i> broadcast</i>
													{% endif %}
												</h5>
											</div>
											<div class="col-sm-8" style="display: flex; flex-direction: row; justify-content: flex-end;">
												<h5 class="media-right pull-right">
													<!-- <span class="counter-activity">{{ entity.fcomment|length > 0 ? entity.fcomment|length|number_format(0, ',', ' ') : '' }}</span> -->
													<a class="a-act loader-action" href="{{ path('orderan_new', {'token': entity.token }) }}" data-toggle="tooltip" data-placement="left"><i class="glyphicon glyphicon-tag"></i> ORDER</a>
												</h5>
												<!-- <h5 class="media-right pull-right">
													<span class="counter-activity">{{ entity.fshare|length > 0 ? entity.fshare|length|number_format(0, ',', ' ') : '' }}</span>
													<a class="a-act loader-action" href="{{ path('fshare_create', {'feel': entity.token, 'page': '2' }) }}?page={{ page }}" data-toggle="tooltip" data-placement="left" title="Re-Post"><i class="glyphicon glyphicon-retweet"></i></a>
												</h5>
												<h5 class="media-right pull-right">
													{% set lk = 0 %}
													{% for like in entity.flike %}
														{% if app.user and like.user.id == app.user.id %}
															{% set lk = 1 %}
														{% endif %}
													{% endfor %}
													{% if lk == 0 %}
													<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
													<a class="a-act loader-action" href="{{ path('flike_create', {'feel': entity.token, 'page': '2' }) }}?page={{ page }}" data-toggle="tooltip" data-placement="left" title="Beri simpati"><i class="glyphicon glyphicon-thumbs-up"></i></a>
													{% else %}
													<span class="counter-activity">{{ entity.flike|length > 0 ? entity.flike|length|number_format(0, ',', ' ') : '' }}</span>
													<i class="glyphicon glyphicon-thumbs-up disabled-like a-act"></i>
													{% endif %}
												</h5> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="text-center loader-action">
							{% if c > 25 %}
								{{ knp_pagination_render(entities) }}</b>
							{% endif %}
						</div>
				</div>
<script type="text/javascript" src="{{ asset('web/bundles/lclc/js/validate-image-feel.js') }}"></script>
<script src="{{ asset('web/bundles/lclc/js/summernote.js') }}"></script>
<script>
$(document).ready(function() {
    $('#lc_lcbundle_feeling_feel').summernote({
				placeholder: 'bagikan sesuatu...',
				tooltip: false,
				height: 100,
				toolbar: [
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic', 'underline']],
			    ['font', ['superscript', 'subscript']]
			  ]
		});
});
function checkLength(){
    var textbox = document.getElementById("lc_lcbundle_feeling_feel");
		if (textbox.value.length == 0) {
			alert('Tuliskan sesuatu, sebelum posting.');
			return false;
		}
    else if(textbox.value.length <= 85000){
			$('.spinner-handler').css('display', 'block');
			$('.btn').addClass('disabled');
			return true;
    }
    else{
        alert("Postingan tidak boleh melibihi 850 karater.");
				return false;
    }
}
function showBig(targetClass, panel) {
		$('.'+targetClass).css('display', 'block');
		$('.'+panel).css('display', 'none');
}
function closeBig(targetClass, panel) {
		$('.'+targetClass).css('display', 'none');
		$('.'+panel).css('display', 'block');
}
$('.loader-action').on('click', function() {
        $('.spinner-handler').css('display', 'block');
    });
</script>

{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
