{% extends 'LcLcBundle:Default:userlayout.html.twig' %}
{%block leftcontent%}
	{{ include ('LcLcBundle:Default:userleftbar.html.twig') }}
{% endblock %}
{%block content%}

				<div class="col-sm-7 column">
						
						<div class="row">
							<div class="panel panel-success">
								<div class="panel-heading panel-success right">
									<a class="a-act" href="#comments" data-toggle="tooltip" data-placement="top" title="Tulis balasan"><i class="glyphicon glyphicon-comment"></i></a>
									<a class="a-act" href="#" data-toggle="tooltip" data-placement="top" title="Beri simpati"><i class="glyphicon glyphicon-thumbs-up"></i></a>
									<a class="a-act" href="#" data-toggle="tooltip" data-placement="top" title="Bagikan"><i class="glyphicon glyphicon-share-alt"></i></a>
								</div>
								<div class="panel-body">
									<div class="media">
										<div class="media-left pull-left">
											<img src="{{ asset('bundles/lclc/img/wedus-48.jpeg') }}" class="img-rounded" alt="Super">
										</div>
										<div class="media-body">
											<h5 class="media-right">{{ entity.feel }}</h5>
											<div class='pull-right created_at'>@ {{ entity.createdAt | date('d-m-Y H:i:s') }}</div><br>
											<hr />
											{% for comment in comments %}
											<div class="panel panel-success apanel-body">
												<div class="panel-body">
													<div class="media">
														<a class="media-left pull-left" href="#">
															<img src="{{ asset('bundles/lclc/img/wedus-48.jpeg') }}" class="img-rounded" alt="Super">
														</a>
														<div class="media-body">
															<h5 class="media-right">{{ comment.comment }}</h5>
														</div>
													</div>
												</div>
												<div class="panel-footer right">
													<a class="a-act" href="#" data-toggle="tooltip" data-placement="top" title="Beri simpati"><i class="glyphicon glyphicon-thumbs-up"></i></a>
													<a class="a-act" href="#" data-toggle="tooltip" data-placement="top" title="Bagikan"><i class="glyphicon glyphicon-share-alt"></i></a>
												</div>
											</div>
											{% endfor %}
						
						
											<div class="panel panel-success apanel-body" id="comments">
												<div class="panel-body">
													<div class="media">
														<a class="media-left pull-left" href="#">
															<img src="{{ asset('bundles/lclc/img/wedus-48.jpeg') }}" class="img-rounded" alt="Super">
														</a>
														<div class="media-body">
														{{ form_start(form) }}
														{{ form_errors(form) }}
															<div class="form-group">
															{{ form_widget(form.comment) }}
															</div>
															{{ form_errors(form.comment) }}
															<div class="form-group right">
																<button type="submit" class="btn btn-primary btn-feel"><i class="glyphicon glyphicon-send"></i> &nbsp;Kirim</button>
															</div>
														{{ form_row(form._token) }}
														{{ form_end(form) }}
														</div>
													</div>
												</div>
											</div>
						
										</div>
									</div>
								</div>
							</div>
						</div>
						
				</div>

{% endblock %}
{%block rightcontent%}
	{{ include ('LcLcBundle:Default:userrightbar.html.twig') }}
{% endblock %}
