{% extends 'LcLcBundle:Default:layout.html.twig' %}
	{% block menu %}
    {{ include ('LcLcBundle:Default:menu.thank.html.twig') }}
	{% endblock %}

	{% block content %}
    <!-- Intro Header -->

    <!-- Download Section -->
    <section id="login" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Lupa Password bukuteman</h2>
                    {% if (app.session.flashbag.get('notice') is not empty) %}
					<center id="message-session">
					<div class="alert alert-danger lebar" role="alert">
						Kami tidak menemukan satupun akun yang cocok dengan email tersebut, coba email lain.
					</div>
					<hr />
					</center>
					{% endif %}
                    <p>
						{{ form_start(form) }}
							{{ form_errors(form) }}
							<div class="form-group form-area">
								<label for="InputEmail">Masukan email yang Anda gunakan untuk mendaftar di bukuteman</label>
								<div class="input-group">
									{{ form_widget(form.email) }}
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
									{{ form_errors(form.email) }}
							</div>
								<input type="submit" name="submit" id="submit" value="Submit" class="btn btn-default btn-lg pull-right">
							{{ form_row(form._token) }}
						{{ form_end(form) }}
					</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Hubungi bukuteman</h2>
                <p>Tidak usah sungkan, silahkan hubungi kami untuk menyampaikan saran, relasi bisnis atau hanya sekedar ingin menyapa kami!</p>
                <p><a href="mailto:call@bukuteman.com">call@bukuteman.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
										<li>
											<a href="https://twitter.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
										</li>
										<li>
											<a href="https://www.facebook.com/bukutemanID" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
										</li>
                </ul>
            </div>
        </div>
    </section>
	{% endblock %}
