{%block rightcontent%}
						<div class="column">
							<div class="row">
								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 class="panel-title">Mungkin kamu kenal</h3>
									</div>
									{% if others %}
										{% for other in others %}
											<div class="panel-body apanel-body p-border">
												<div class="media">
													<a class="media-left pull-left thumbnail" href="{{ path('profile_see', {'token': other.token }) }}">
														<img class=" img-thumb" src="{{ asset('web/uploads/users/thumb_') }}{{ other.foto }}" alt="{% if other.profile.name is defined %}{{ other.profile.name }} {% else %} {{ other.email }} {% endif %}">
													</a>
													<div class="media-body">
														<h5 class="media-right">
														<a href="{{ path('profile_see', {'token': other.token }) }}" class="loader-action">
															{% if other.profile.name is defined %}{{ other.profile.name }} {% else %} {{ other.email }} {% endif %}
															{% if other.isverified == 1 %}
																<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
															{% endif %}
														</a>
														</h5>
													</div>
												</div>
											</div>
										{% endfor %}
										<div class="panel-footer">
											<div class="text-center"><a href="{{ path('user_others') }}" class="loader-action"> Tampilkan semuanya </a></div>
										</div>
									{% else %}
										<div class="panel-body apanel-body p-border">
											<div class="media">
												<div class="media-body">
													<h5 class="media-right">Belum ada saran untuk mu.</h5>
												</div>
											</div>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
{% endblock %}
