<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lucidcouple</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ asset('lc.ico') }}">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link rel="stylesheet" href="{{ asset('bundles/lclc/cssh/bootstrap.min.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('bundles/lclc/cssh/style.css') }}" type="text/css" media="all" />

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <script type="text/javascript" src="{{ asset('bundles/lclc/js/jquery-1.10.2.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/lclc/js/jquery-ui.js') }}"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('feeling') }}"> <i class="glyphicon glyphicon-heart-empty"></i>  <span class="light">LUCID</span><span class="weight">COUPLE</span></a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
			<div class="col-lg-6 centered">
				<form action="{{ path('user_search') }}" method="get">
				<div class="input-group">
					<input type="text" name="query" value="{{ app.request.get('query') }}" placeholder="Masukan nama yang dicari" id="search_keywords" class="form-control"/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><li class="glyphicon glyphicon-search"></li></button>
						</span>
				</div><!-- /input-group -->
				</form>
			</div>
          <ul class="nav navbar-nav navbar-right">
			<li><img class="img centered" src="{{ asset('uploads/users/thumb_') }}{{ app.user.foto }}" alt="{{ app.user.profile.name }}"></li>
            <li><a href="{{ path('feeling') }}" data-toggle="tooltip" data-placement="top" title="Beranda"><b>Beranda</b></a></li>
            <li><a href="{{ path('friend_fall', {'token': app.user.token }) }}" data-toggle="tooltip" data-placement="top" title="Suka Kamu"><span class="glyphicon glyphicon-heart knowing"></span>{% if fall %}<span class="badge">{{ fall }}</span>{% endif %}</a></li>
			<li><a href="{{ path('unread_chat') }}" data-toggle="tooltip" data-placement="top" title="Pesan"><span class="glyphicon glyphicon-envelope knowing"></span>{% if chat %}<span class="badge">{{ chat }}</span>{% endif %}</a></li>
			<li><a href="{{ path('notification_show') }}" data-toggle="tooltip" data-placement="top" title="Pemberitahuan"><span class="glyphicon glyphicon-bell knowing"></span>{% if notify %}<span class="badge">{{ notify }}</span>{% endif %}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('profile') }}">Profile</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Action</li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div id="wrap">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				{%block leftcontent%}
				{% endblock %}
				
				{%block content%}
				{% endblock %}
						

				{%block rightcontent%}
				{% endblock %}
			</div>
		</div>
	</div>
	
</div>
<div class="centered"></div>
</div>
</div>

    <div id="footer">
      <div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="col-md-11">
					<p class="text-muted credit"><a href="http://lucidcouple.com">&copy;&nbsp;lucidcouple.com Yogyakarta {{ "now"|date("Y") }}</a>.</p>
				</div>
				<div class="col-md-1">
					<span class="label">
						<a href="#top" class="label label-default" style="float: left; text-align: left;" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
							<b class="top"><i class="glyphicon glyphicon-chevron-up"></i>&nbsp;Ke Atas
						</a>
					</span><!-- /top-link-block -->
				</div>
				<div class="centered"></div>
			</div>
        </div>
      </div>
	</div>
</body>
</html>
            <script type="text/javascript" src="{{ asset('bundles/lclc/js/jquery.easing.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lclc/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/lclc/js/jquery-migrate-1.2.1.min.js') }}"></script>
            
    <!-- Bootstrap Core JavaScript -->

    <!-- Custom Theme JavaScript -->
    
	<script>
		$(document).ready(function() {
			$("body").tooltip({ selector: '[data-toggle=tooltip]' });
		});
		
		setTimeout(function() {
			$('#message-session').fadeOut('slow');
		}, 3500);
	</script>
