{%block leftcontent%}
				<div class="col-md-2 column">
				<a href="{{ path('user_foto') }}" title="Ubah foto profile Anda">
				<div class="thumbnail">
					<img src="{{ asset('bundles/lclc/img/wedus.jpeg') }}" alt="Profile">
				</div>
				</a>
					<div id="navbar" class="navbar">
						
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation"><a href="{{ path('profile') }}">Data Akun</a></li>
						<li role="presentation"><a href="{{ path('profile_data') }}">Data Profile</a></li>
						<li role="presentation"><a href="{{ path('usercriteria') }}">Data Kriteria</a></li>
					</ul>
					</div>
				</div>
{% endblock %}
