<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bukuteman</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ asset('web/bukuteman-ico.png') }}">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->

	<link rel="stylesheet" href="{{ asset('web/bundles/lclc/cssh/bootstrap.min.css') }}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ asset('web/bundles/lclc/cssh/style.css') }}" type="text/css" media="all" />
  <link rel="stylesheet" href="{{ asset('web/bundles/lclc/font-awesome/css/font-awesome.min.css') }}" type="text/css" media="all" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <script type="text/javascript" src="{{ asset('web/bundles/lclc/js/jquery-1.10.2.js') }}"></script>
  <script type="text/javascript" src="{{ asset('web/bundles/lclc/js/jquery-ui.js') }}"></script>
</head>

<body>
<div class="container">
  <div id="scroll-content"></div>
  <nav class="navbar navbar-default navbar-fixed-top col-md-offset-4 col-md-4" role="navigation">
    <div class="row">
      <div class="navbar-header">
        <div>
          <a class="navbar-brand" href="#status-home" onclick="getRequest('{{ path('feeling_home') }}', 'feeling_index', loadFeelingEditor)">
            <i class="glyphicon glyphicon-user-empty"></i>  <span class="light"></span>
            <span class="weight">
              <i class="fa fa-address-book-o"></i>
              bukuteman
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row top-menu-container">
      <ul class="nav navbar-nav">
        <li>
          <a href="#status-home" onclick="getRequest('{{ path('feeling_home') }}', 'feeling_index', loadFeelingEditor)" data-toggle="tooltip" data-placement="top" title="Home">
            <span class="fa fa-home fa-lg knowing"></span>
          </a>
        </li>
        <li>
          <a href="#friend-request" onclick="getRequest('{{ path('friend_fall', {'token': app.user.token }) }}', 'friend_request')" data-toggle="tooltip" data-placement="top" title="Mau berkenalan">
            <span class="fa fa-handshake-o fa-lg knowing"></span>{% if fall %}<span class="badge">{{ fall }}</span>{% endif %}
          </a>
        </li>
  			<li>
          <a href="#unread-chat" onclick="getRequest('{{ path('unread_chat') }}', 'unread_chat')" data-toggle="tooltip" data-placement="top" title="Pesan">
            <span class="fa fa-envelope-o fa-lg knowing"></span>{% if chat %}<span class="badge">{{ chat }}</span>{% endif %}
          </a>
        </li>
  			<li>
          <a href="#notification-show" onclick="getRequest('{{ path('notification_show') }}', 'notification_show')" data-toggle="tooltip" data-placement="top" title="Pemberitahuan">
            <span class="fa fa-bell-o fa-lg knowing"></span>{% if notify %}<span class="badge">{{ notify }}</span>{% endif %}
          </a>
        </li>
  			<li>
          <a href="#find-friend" onclick="getRequest('{{ path('user_others') }}', 'user_others')" data-toggle="tooltip" data-placement="top" title="Cari teman">
            <span class="fa fa-search fa-lg knowing"></span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-bars fa-lg knowing"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#profile-data" onclick="getRequest('{{ path('profile_data') }}', 'profile_data')">Lihat profilemu</a></li>
            <li><a href="#account-setting" onclick="getRequest('{{ path('profile') }}', 'profile')">Account setting</a></li>
            <li><a href="#friend-show" onclick="getRequest('{{ path('friend_show', {'token': app.user.token}) }}', 'friend_show')">Temanmu&nbsp;</a></li>
						<li><a href="#chat-list" onclick="getRequest('{{ path('chat') }}', 'chat')">Obrolan</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id="wrap">
<div class="container-fluid">
	<div class="row clearfix"></div>
	<div class="col-md-4 col-md-offset-4 space-header"></div>
	<div class="col-md-4 col-md-offset-4">
    <div class="row spiner-container top-spinner">
      <div class="col-md-12 text-spinner">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
    </div>
    <div id="page-content">
  		{%block leftcontent%}
  		{% endblock %}

  		{%block content%}
  		{% endblock %}

      {%block rightcontent%}
      {% endblock %}
    </div>
	</div>

</div>
<div class="centered"></div>
</div>
</div>

<div class="container">
	<div class="col-md-4 col-md-offset-4 column footer">
		<div class="row">
			<div class="col-sm-10">
				<p class="text-muted"><a href="http://bukuteman.com">&copy;&nbsp;bukuteman.com Yogyakarta {{ "now"|date("Y") }}</a>.</p>
			</div>
		</div>
  </div>
</div>
</body>
</html>
<script type="text/javascript" src="{{ asset('web/bundles/lclc/js/jquery.easing.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/bundles/lclc/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/bundles/lclc/js/jquery-migrate-1.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/bundles/lclc/js/validate-image-feel.js') }}"></script>
<script src="{{ asset('web/bundles/lclc/js/summernote.js') }}"></script>
<script>
	$(document).ready(function() {
		$("body").tooltip({ selector: '[data-toggle=tooltip]' });
	});

	setTimeout(function() {
		$('#message-session').fadeOut('slow');
	}, 3500);
</script>
<script>
$(document).ready(function() {
    $('#lc_lcbundle_fcomment_comment').summernote({
				placeholder: 'bagikan sesuatu...',
				tooltip: false,
				height: 100,
				toolbar: [
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic', 'underline']],
			    ['font', ['superscript', 'subscript']]
			  ]
		});
});
</script>
<script>
function setFocus(elementName){
  $('html, body').animate({
      scrollTop: $("#"+elementName+"").offset().top,
  }, 500);
}
function checkLength(formColomn){
    var textbox = document.getElementById(formColomn);
		if (textbox.value.length == 0) {
			alert('Tuliskan sesuatu, sebelum posting.');
			return false;
		}
    else if(textbox.value.length <= 850){
        return true;
    }
    else{
        alert("Postingan tidak boleh melibihi 850 karater.");
				return false;
    }
}
</script>
<script>
function loadFeelingEditor() {
    $('#lc_lcbundle_feeling_feel').summernote({
				placeholder: 'bagikan sesuatu...',
				tooltip: false,
				height: 100,
				toolbar: [
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic', 'underline']],
			    ['font', ['superscript', 'subscript']]
			  ]
		});
}
window.onload = function() {
  getRequest('{{ path('feeling_home') }}', 'feeling_index', loadFeelingEditor);
};
var currentKey
function getRequest(url, storageKey, callBack) {
 currentKey = storageKey;
  $.ajax({
      type: 'GET',
      url: url,
      data: {},
      beforeSend: function() {
        setFocus('scroll-content');
        if (!localStorage.getItem(storageKey)) {
          loaderIndicator = setTimeout(function() {
            $('.top-spinner').css('display', 'block');
          }, 60);
        }
        if (localStorage.getItem(storageKey)) {
          $("#page-content").html(localStorage.getItem(storageKey));
        }
      },
      success: function(html) {
        if (storageKey == currentKey) {
          $("#page-content").html(html);
          localStorage.setItem(storageKey, html);
        }
      },
      error: function(xhr) {
        alert("Error occured.please try again");
        console.log(xhr.statusText + xhr.responseText);
        $('.top-spinner').css('display', 'none');
      },
      complete: function() {
        $('.top-spinner').css('display', 'none');
        if (callBack) {
          callBack();
        }
      },
      dataType: 'html'
  });
}
</script>
