{%block leftcontent%}
				<div class="column">
				<a href="{{ path('user_foto') }}" data-toggle="tooltip" data-placement="top" title="Ubah foto profile Anda">
				<div class="thumbnail">
					<div class="pull-right">
						<i class="fa fa-camera fa-2x"></i>
					</div>
					<img src="{{ asset('web/uploads/users/grande_') }}{{ app.user.foto }}" alt="{% if app.user.profile.name is defined %}{{ app.user.profile.name }} {% else %} {{ app.user.email }} {% endif %}">
					<h5 class="text-center">
						{% if app.user.profile.name is defined %}{{ app.user.profile.name }} {% else %} {{ app.user.email }} {% endif %}
						{% if app.user.isverified == 1 %}
							<i style="color: #00838F;"><i class="glyphicon glyphicon-ok-circle"></i></i>
						{% endif %}
					</h5>
				</div>
				</a>
				</div>
{% endblock %}
